@import "tailwindcss";

* {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes revealLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes revealRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

.animate-reveal-left {
  animation: revealLeft 1.2s ease forwards;
}

.animate-reveal-right {
  animation: revealRight 1.2s ease forwards;
}

@keyframes slideDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(100%); }
}

.animate-slide-down {
  animation: slideDown 1.2s ease forwards;
}